@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 55px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  } 
}

.menu {
  &__btn {
    display: none;
  }
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    padding-left: 30px;
  }
  &__list-link {
    transition: all .3s;
    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
}

.nav-link {
  color: $accent;
  @extend %poppins-600;
}




@import 'media';